*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
	margin: 0;
	font-size: 1rem;
	background-color: white;
	font-family: "Averta Demo";
}
h1{
	font-size: 35px;
}

li{
	list-style: none;
}
a{
	text-decoration: none;

}
.header{
	width: 100%;
	min-height: 1300px;
	background-color:#dadada;
}
.header img{
	width: 100%;
	height: 100%;
}
.pd{
	width: 100%;
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	
}
.menu{
	width: 100%;
    background-color: black;
    height: auto;
    position: fixed;
    z-index: 100;

}

.logo {
	margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    height: auto;
}
.logo>img{
	width: 170px;
    height: auto;

}
.ccc{
	position: relative;
	width: 100%;
	height: auto;
}
.bg-light{
	background: none !important;
	padding-right: 10%;
} 

@media screen and(min-width: 1200px){
	.bg-light{
	background: none !important;
	padding-left: 30%;
	} 
}
.menu_right{
	width: 100%;
	height: auto;
	margin-top: 2%;
    margin-bottom: 2%;
}
.navbar-light .navbar-nav .nav-link{
	color: white;
	font-weight: 500;
	font-size: 14px;
}

.hover a:hover{
	color: #ef2883 !important;
} 
.hover a:focus{
	color: #ef2883 !important;
} 
.by{
	margin-left: 2%;
	border-radius: 30px;
    background: linear-gradient(to left,#ef6f64,#fd9c7b);
    color: white;
    height: 50px;
    width: 17%;
    font-weight: bold;
    border: none;
    cursor:pointer;
}
.ava img{
	width: 120%;
	border-radius: 50%;
}
.navbar-light .navbar-toggler {
    background: white;
    color: white;
}

@media screen and (max-width: 991px){
	.bg-light{
	background: none !important;
	padding-left: 50%;
  }
}

.dropdown-item img{	
	width: 30%;
    height: auto;
    margin-right: 10%;
}

.header_botton{
	width: 100%;
	height: auto;
}

.map{
	/*position: relative;*/
	width: 100%;
	height: auto;
	clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 88%, 63% 100%, 35% 100%, 0 88%, 0 0);
}
.header_botton1{
	top: 80%;
    position: absolute;
    width: 100%;
    height: 125%;

}
.dropdown-menu::after {
    content: ' ';
    height: 0px;
    position: absolute;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    top: -15px;
    left: 70px;
}



.content_herder{
	position: absolute;
    z-index: 10;
    width: 100%;
   top: 0;
    height: auto;
}
.top_header{
	width: 100%;
    background-color: white;
    line-height: 100%;
    border-radius: 10px;
}
.search{
	border-radius: 30px;
    background: linear-gradient(to left,#ef6f64,#fd9c7b);
    color: white;
    height: 30%;
    width: 62%;
    font-weight: bold;
    border: none;
    margin: 12%;
    margin-top: 20%;
}
.form-group {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 3%;
}
.form-group label {
	font-weight: bold;
}

.content-header1{
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
}
.content-header1 h1{
	font-size: 24px;
	color: white;
	width: 100%;
}

.footer-header{
	width: 100%;
	height: auto;
}
.item{
	width: 90%;
	height: 100%;
}

.information{
	background-color: white;
}
.center{
	width: 100%;
    height: auto;
    margin-left: 10%;
    padding-bottom: 10%;
    padding-top: 10%;

}
.owl-carousel .owl-item img {
    display: block;
   width: 100%;
   height: auto;
 }
 .center p{
    margin-top: 0;
     margin-bottom: 1rem; 
     color: #808080;
 }
 .center p a{
 	text-decoration: none;
 	color: black;
 	font-weight: bold;
 	font-size:14px;
 }
 .checked {
  color: orange;
}
.owl-theme .owl-dots .owl-dot span{
	background: #595959;
	width: 15px;
	height: 15px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ef6f64;
}

.content1{
	width: 100%;
	background-color: #dadada;
	height: auto;
}
.endow{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 7%;
    margin-bottom: 4%;
}
.endow h2{
	width: 100%;
	font-size: 24px;
	font-weight: bold;
}

.cl{
	margin: 2%;
	background: white;
}
.cl div li{
	width: 100%;
	height: auto;
}
.cl div li a img{
	width: 100%;
	height: fit-content;
}
.info{
	padding-top: 5%;
    padding-left: 10%;
	width: 100%;
	height: auto;
}

.info h3 li a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;	
}
.info p{
	 color: #808080;
	 font-size: 14px;
}
.info  p span{
	color: black;

}

.ol{
	width: 100%;
	text-align: center;
}
.ol button{
	border: none;
}

.owl span{
	width: 10px;
	height: 10px;
	background-color: red;

}
.content3{
	background-color: #ececec;
}
/**/


/*footer*/
.content2-infos{
	width: 100%;
	height: auto;
	text-align: center;
}
.content2-info{
	padding-top: 10%;
	width: 100%;
	padding-bottom: 25%;
}
.content2-info h6 {
	font-size: 14px;
	color: black;
	font-weight: bold;
}
.content2-info p {
	font-size: 14px;
	color: #808080;
}
.content2-infos img{
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	
}

#footer{
	background: #111111;
	padding: 30px;
	color: #ffffff
}
#footer i{
	font-size: 15px;
	margin-right: 10px
}
#footer p{
	color: #7c7c7c}
#footer .aht{
	margin-top: 20px;
}
#footer .content{
	margin-top: 15px;
}
#footer .facebook{
	margin-top: 15px;
}
#footer .icons i{
	font-size: 25px
}
#footer .gachchan{
	border:1px solid #1f1f1f;}
#footer .google_play{
	margin-right: 20px;
}